<div data-sly-use.calculadora="com.adobe.aem.guides.wknd.core.models.Calculadora"
 	  data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
 	  data-sly-test.hasContent="${!calculadora.empty}">
      
     <h2 class="cmp-byline__name">${calculadora.titulo}</h2>
     <p> Se ha seleccionado la operacion ${calculadora.accion} con los valores: ${calculadora.valorUno}, ${calculadora.valorDos} </p>
     <p> El resultado es: <b> ${calculadora.resultado} </b> </p>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>